<div class="container">
    <h1>Course registration</h1>
    <div class="alert alert-info">You can register by mail by filling up this document: <a href="/NMT_Application_Form.pdf" target="_blank">Napier Management Training - course application form</a>. <small><i>Address and instructions are available in the document.</i></small></div>
    <form class="form-horizontal" ng-submit="submit(registrationform)" id="registrationform" role="form">
        <fieldset>
            <legend>Your details</legend>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <select class="form-control" id="title" name="title" required="required" ng-model="formData.title">
                        <option></option>
                        <option ng-repeat="title in titles">{{title.title}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">First name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="firstname" ng-model="formData.firstname" name="firstname" placeholder="First name" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">Last name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="lastname" ng-model="formData.lastname" id="lastname" placeholder="Last name" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-sm-2 control-label">Address</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="address" name="address" ng-model="formData.address" placeholder="Postal address" required="required"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" name="email" ng-model="formData.email" placeholder="Email address" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="telephone" class="col-sm-2 control-label">Telephone</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" id="telephone" name="telephone" ng-model="formData.telephone" placeholder="Telephone number" required="required">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Course details</legend>
            <div class="form-group">
                <label for="session" class="col-sm-2 control-label">Course</label>
                <div class="col-sm-10">
                    <select class="form-control" id="session" name="session" required="required" ng-model="formData.session">
                        <option></option>
                        <optgroup ng-repeat="course in courses" label="{{course.title}}">
                            <option ng-repeat="session in course.sessions" value="{{session.id}}">{{session.venue.name}} - {{session.date}}</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="payment" class="col-sm-2 control-label">Payment type</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="payment" id="payment1" value="Debit card" ng-model="formData.payment"> Debit card
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="payment" id="payment2" value="Paypal" ng-model="formData.payment"> Paypal
                    </label>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Registration</legend>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-primary" value="Register now!">
                </div>
            </div>
        </fieldset>
    </form>
</div>