<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid">
            <div class="btn-group-vertical col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <button class="btn btn-default">Courses</button>
                <button class="btn btn-default">Venues</button>
                <button class="btn btn-default">Locations</button>
                <button class="btn btn-default">Register</button>
                <button class="btn btn-default">Discussion</button>
            </div>
            <!--Register form-->
            <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div class="input-group-vertical {{classN}}">
                <span class="input-group-addon">Name</span>
                <input type="text" class="form-control" placeholder="" required>
                <span class="input-group-addon">Surname</span>
                <input type="text" class="form-control" placeholder="" required>
                <span class="input-group-addon">Select course</span>
                <input type="text" class="form-control" required>
                <button class="btn btn-defautl btn-block" type="submit" ng-click="proceed()">Proceed</button>
              </div>
                <div class="{{classP}}">
                    <h2>Please select payment type:</h2>
                    <br/>
                   <div class="btn-group col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                       <button class="btn btn-default" ng-click="paypal()" id="btnLink">Paypal</button>
                       <button class="btn btn-default" ng-click="debitCard()" id="btnLink">Debit card</button>
                   </div>
                </div>
                <div class="{{classPP}}">
                    <h2> Paypal details: </h2>
                     <div class="input-group">
                       <span class="input-group-addon">Username</span>
                       <input type="text" class="form-control" required>
                       <span class="input-group-addon">Password</span>
                       <input type="password" class="form-control" required>
                       </div>
                    <button class="btn btn-success btn-block">Submit</button>
             </div>
            <div class="{{classDC}}">       
             Debit Card:
                <div class="input-group-vertical">
                    <span class="input-group-addon">Name on card</span>
                    <input type="text" class="form-control" required>
                    <span class="input-group-addon">Card number</span>
                    <input type="number" class="form-control" required>
                    <span class="input-group-addon">Expiration date</span>
                    <input type="date" class="form-control" required>
                    <span class="input-group-addon">Security code</span>
                    <input type="number" class="form-control" required>
                    <button class="btn btn-block btn-success">Submit</button>
                    <button class="btn btn-block btn-danger">Cancel</button>
                  </div>
                 
            </div>
        </div>
            <!--End of register form-->
        </div>
    </body>
</html>
